h2 {
    margin-top: 20px;
}

.card {
    margin-bottom: 10px;
}

.content-title {
    padding-left: 10px;
    padding-right: 10px;
}

.page-content {
    padding-left: 20px;
    padding-right: 20px;
}

.image-collection img {
    max-width: 200px;
    max-height: 200px;
}

.card-body {
    padding: 4px 8px;
}

.modal img {
    max-width: 100%;
    max-height: 100%;
}

.modal-body, .modal-footer {
    padding: 8px;
}

.nav-item .nav-link {
    margin-left: 10px;
    margin-right: 10px;
}